body {
    margin: 0px 5px;
    font-family: 'Fjalla One', sans-serif;
    background-color: #f1f1f1;
}

.sheets-icon {
	width: 15px;	
	height: 15px;
}

@font-face {font-family: "Comic Sans MS";
    src: url("http://cle.golf/public/fonts/comicsans.eot"), /* IE9*/
    url("http://cle.golf/public/fonts/comicsans.woff2") format("woff2"), /* chrome firefox */
    url("http://cle.golf/public/fonts/comicsans.woff") format("woff"), /* chrome firefox */
    url("http://cle.golf/public/fonts/comicsans.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("http://cle.golf/public/fonts/comicsans.svg") format("svg"); /* iOS 4.1- */
}